<!DOCTYPE html>
<html>
<head>
	<title>voc list</title>
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<a href="/list">list</a>
<!--
<form action="/sort/<%= note.num %>" method="post">
	<select name="sort_key">
		<option value="time">sort by time</option>
		<option value="capital">sort by capital</option>
	</select>
	<input type="submit" value="submit">
</form>
-->
<% if(!note){ %>
	note not found<br>
<% }else if(note.type=="voc_list"){ %>
	<h3><%= note.account %></h3>
	<pre style="width: 100%; white-space: pre-wrap; font-family: 'Times New Roman';"><%= note.content %></pre>
	<%= note.createdate %><br>
<% }else{ %>
	something went wrong<br>
<% }%>
<a href="/modify/<%= note.num %>">modify</a>
<a href="/logout">logout</a>
</body>
</html>